* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Josefin Sans Thin', sans-serif;
}

#logo {
	margin-top: 10%;
	height: 100px;
}

#welcome {
	font-size: 60px;
}

/* Extra small devices (phones, 440px and down) */
@media only screen and (max-width: 440px) {
	#welcome {
		font-size: 40px;
	}
}

@media only screen and (max-width: 600px) {
	#button {
		font-size: 11px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#button {
		font-size: 11px;
	}
}

@media only screen and (max-width: 768px) {
	#welcome {
		font-size: 50px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#button {
		font-size: 16px;
	}
}

button {
	font-family: 'Josefin Sans SemiBold', sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:active {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transform: translateY(4px);
}

#note {
	margin-top: 13%;
	opacity: 0.9;
	font-size: 14px;
	font-weight: bold;
}